/* Required height of parents of the Full Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; }

/* Heading Base Styles */
h2 {padding:70px 0 20px; font-size: 2.4em;}
h3 {font-size:1.6em;}
p.caution {font-size:0.8rem;}

/* Block Box Styles */
.linkBox {
	display: inline-block;
	margin:30px 0 100px;
	padding: 0.3em 1em;
	text-decoration: none;
	color: #000;
	border: solid 2px #000;
	border-radius: 3px;
	transition: .4s;
}
a:hover {text-decoration:none!important;}
.linkBox a:hover {color:#333333;}
.linkBox:hover {
  background: #e6e6e6;
}

/* Full Page Carousel itself*/
.carousel {
  height: 100%; }
  .carousel .carousel-inner {
    height: 100%; background:#000;}
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }

/* Navbar animation */
.navbar {
  background-color: rgba(0,0,0,0.4); }

.top-nav-collapse {
  background-color: rgba(0,0,0,0.4); }

.navbar .logo img {width:50%;}

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar.navbar-dark .navbar-nav .nav-item.active > .nav-link {
		border-bottom:none;}
    .navbar.navbar-dark .breadcrumb .nav-item.active > .nav-link:hover,
    .navbar.navbar-dark .navbar-nav .nav-item.active > .nav-link:hover {
      color: #000; }
	.navbar {
  background-color: rgba(0,0,0,0.7); }
.top-nav-collapse {
  background-color: rgba(0,0,0,0.7); }
	.navbar .logo img {width:100%;}

}

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1C2331; }
	
/*-----------------------------------------------------------------------------------*/
/*  Header
/*-----------------------------------------------------------------------------------*/
#header .navbar-brand {font-size:1.6rem;}
#header .nav-item {font-size:1.4rem; padding-right:15px;}
#header .top-nav-collapse li.nav-item {font-size:1.3rem;}

#header .navbar-nav .nav-link:hover {
	border-bottom:2px solid #fff;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

p#pagetop {position:fixed; right:15px; bottom:-10px; z-index:100000;}

@media only screen and (max-width: 768px) {
	#header strong img#logo {width:100%;}
	#header .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
	#header .navbar .container {display: flex;}
	#header .logo {width: 90px;}
}

/*-----------------------------------------------------------------------------------*/
/*  Carousel Wrapper
/*-----------------------------------------------------------------------------------*/
#carousel-example-1z h1,
#carousel-example-1z p.rabel {text-align:center!important;}
#carousel-example-1z h1 {margin-bottom:-100px;}
#carousel-example-1z .view img {position:relative;}
#carousel-example-1z p.photoby {position:absolute; z-index:100000;right:1%; bottom:10%; writing-mode: vertical-rl; -ms-writing-mode: tb-rl; color:#fff; text-shadow:1px 1px 0 rgba(0,0,0, 0.1), -1px -1px 0 rgba(0,0,0, 0.1), -1px 1px 0 rgba(0,0,0, 0.1), 1px -1px 0 rgba(0,0,0, 0.1), 0px 1px 0 rgba(0,0,0, 0.1),  0-1px 0 rgba(0,0,0, 0.1), -1px 0 0 rgba(0,0,0, 0.1), 1px 0 0 rgba(0,0,0, 0.1);}

.carousel .carousel-indicators li {box-shadow:1px 1px 0 rgba(0,0,0, 0.1), -1px -1px 0 rgba(0,0,0, 0.1), -1px 1px 0 rgba(0,0,0, 0.1), 1px -1px 0 rgba(0,0,0, 0.1), 0px 1px 0 rgba(0,0,0, 0.1),  0-1px 0 rgba(0,0,0, 0.1), -1px 0 0 rgba(0,0,0, 0.1), 1px 0 0 rgba(0,0,0, 0.1);}
.carousel-control-prev, .carousel-control-next {display:none;}

@media only screen and (max-width: 768px) {
  #carousel-example-1z h1 img {width:100%;}
	#carousel-example-1z p.rabel img {width:40%;}	
	#carousel-example-1z p.photoby {font-size: 1rem;}
}

/*-----------------------------------------------------------------------------------*/
/*  Icon
/*-----------------------------------------------------------------------------------*/
ul.extlink {margin:0; padding: 10px 0 0;}
ul.extlink li {display:inline-block; background:#a0a0a0; border-radius: 5px; margin:0 5px 0 0; padding:3px 8px; text-align:left;}
ul.extlink li a {color:#fff;}

.navbar-nav li {
	font-family:'Font Awesome 5 Free';
	font-weight:normal;}

/*-----------------------------------------------------------------------------------*/
/*  Work
/*-----------------------------------------------------------------------------------*/

#work,#spec {
  padding-bottom: 50px;
}

#work h2,ul {display: inline-block; vertical-align:middle;}
#work h2 {padding-left: 3.5em;}
#work ul {padding-top:3.5em;}
#work ul.extlink{padding:3.5em 0 0 1.5em;}

#work .portfolio-list,#spec .portfolio-list {
  margin-bottom: 20px;
}

#work .portfolio-list .nav,#spec .portfolio-list .nav  {
	display:inline-block;
  margin: 0; line-height: 2.8em;
}

#work .portfolio-list .nav li,#spec .portfolio-list .nav li {
  margin: 0 40px 0 0; height:35px;
	display:inline-block;
  font-size: 1.4rem;
  color: #999999;
  cursor: pointer;
  font-family: 'Poppins', helvetica;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
#work .portfolio-list .nav li a,#spec .portfolio-list .nav li a {line-height:2em;}

@media only screen and (max-width: 768px) {
 #work .portfolio-list .nav li {margin: 0 30px 0 0;}
}


#work .portfolio-list .nav li:last-child {margin:0;}

#work .portfolio-list .nav li:hover, #work .portfolio-list .nav li.filter-active  {
	padding:0;
	border-bottom:2px solid #000;
}

#work .portfolio-container {
  display: inline-block;  position:relative;
  width: 100%; z-index:10;
}
#work .portfolio-container .col-lg-4 {
padding-right: 0px;
    padding-left: 0px;
}

#work p.tag {margin:0; padding:3px 10px; font-size:1rem; position:absolute; z-index:10000; background:rgba(255,255,255,0.8);}
#work p.title {margin:0; padding:5px 0 0; font-size:1.2rem; font-weight:bold; text-align:left; line-height:2rem;}
#work p.title .mediaCat {background:#000; color:#fff; font-size:0.8rem; margin-right:10px; padding:3px 5px; font-weight:normal;}
#work p.comment {margin:0; padding:5px 0 0; font-size:1rem; line-height:1.6rem; text-align:left;}

.portfolio-thumbnail {
  margin-bottom: 0px;
  overflow: hidden;
  min-height: 260px;
}

.portfolio-thumbnail img {
  max-width: 100%; z-index:50;
}
/*-----------------------------------------------------------------------------------*/
/*  MEMBER
/*-----------------------------------------------------------------------------------*/
#member section .row:first-child {padding-bottom: 80px;}
#member ul {padding-inline-start: 0px;}
#member dl.history {font-size: 1em; margin: 1em 0 0; display: flex; flex-wrap: wrap; width: 100%;}
#member dl.history dt {width: 15%; font-weight: normal;}
#member dl.history dd {width: 85%;}
#member h4{margin: 1.2em 0 0; font-weight: bold; font-size: 1.2em;}
#member p {margin: 1.2em 0 0; font-size: 1em;}
#member dl.no-top {margin: 0.5em 0 0;}

@media only screen and (max-width: 768px) {
	#member img {width:100%;}
	#member dl.history {font-size: 1em;}
	#member .d-block {padding: 1em 0 0;}

}




/*-----------------------------------------------------------------------------------*/
/*  SNS
/*-----------------------------------------------------------------------------------*/
#sns {
	font-family:'Font Awesome 5 Free';
	font-weight:normal;}

/*-----------------------------------------------------------------------------------*/
/*  Contact
/*-----------------------------------------------------------------------------------*/
#contact p.mail {font-size:2.2rem;}
#contact {
	font-family:'Font Awesome 5 Free';
	font-weight:normal;}

/*-----------------------------------------------------------------------------------*/
/*  Footer
/*-----------------------------------------------------------------------------------*/
#footer p {padding:0 0 0 0;}
#footer ul {margin:30px 50px 30px 0;}
#footer ul li {list-style:none; display:inline-block; padding:0 30px; font-size:1.8rem;}
#footer ul li .title {font-size:1.0rem;}
#footer p.copyright {padding:50px 0 0 30px;}
@media only screen and (max-width: 768px) {
  #footer p.copyright {font-size:1.0rem;}

}

/*-----------------------------------------------------------------------------------*/
/*  spec/access/about
/*-----------------------------------------------------------------------------------*/
#spec h1,#access h1,#about h1 {
  margin-top: 150px; font-size: 2.4em;
}
#spec p,#access p,#about p {text-align:left;}
#access h1 {
  margin-top: 50px;
}
#spec h2,#access h2 {font-size: 2em;}
#spec h2 {padding: 40px 0 20px;}
#about h2 {padding: 100px 0 20px; font-weight: bold;}
#about .section-title {width: 60%;}
#about dl.history {font-size: 1em; margin: 5em 0 0; display: flex; flex-wrap: wrap; width: 100%; text-align: left;}
#about dl.history dt {width: 10%; font-weight: normal;}
#about dl.history dd {width: 90%;}

@media only screen and (max-width: 768px) {
#about .section-title {width: 100%;}
#about dl.history dt {width: 30%; font-weight: normal;}
#about dl.history dd {width: 70%;}
}

#access ul.extlink {display:flex;}















